<!doctype html>
<html>
  <head>
    <title>Upload new File</title>
  </head>
  <body>
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
      File: <input type="file" name="file">
      <!-- API: <input type="text" name="q" placeholder="tsd-2"> -->
      API: <select name="q" placeholder="tsd-2">
        <option value="tsd-2">tsd-2</option>
        <option value="tsr-1">tsr-1</option>
        <option value="sdr-1">sdr-1</option>
        <option value="osd-1">ods-1</option>
      </select>
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
