#!/bin/bash
export AI_PY_ENVVARS=AI_APP:AI_HOME_EXT:MASK_RCNN:FASTER_RCNN:CAFFE_ROOT:AI_LANENET_ROOT
export AI_CONFIG=/codehub/config
export AI_DATA=/aimldl-dat
export AI_WEB_APP_UPLOADS=/codehub/www/uploads
export AI_LANENET_ROOT=/codehub/external/lanenet-lane-detection
export FASTER_RCNN=/codehub/external/py-faster-rcnn
export AI_ANNON_HOME=/codehub/apps/annon
export MASK_RCNN=/codehub/external/Mask_RCNN
export AI_VM_HOME=/virtualmachines
export AI_DOC=/aimldl-doc
export AI_ANNON_DATA_HOME_LOCAL=/aimldl-dat/data-gaze/AIML_Annotation/ods_merged_on_050719
export AI_WEB_APP=/codehub/apps/www
export AI_ANNON_DB=/aimldl-dat/data-gaze/AIML_Database
export AI_MODEL_CFG_PATH=/aimldl-cfg/model
export CAFFE_ROOT=/codehub/external/py-faster-rcnn/caffe-fast-rcnn
export APACHE_HOME=${HOME}/public_html
export WORKON_HOME=${HOME}/virtualmachines/virtualenvs
export AI_HOME_EXT=/codehub/external
export AI_WEIGHTS_PATH=/aimldl-dat/release
export AI_WEB_APP_LOGS=/aimldl-dat/logs/www
export AI_REPORTS=/aimldl-rpt
export AI_HOME=/codehub
export AI_GOOGLE_APPLICATION_CREDENTIALS="/codehub/auth/"
export AI_MNT=/aimldl-mnt
export AI_WSGIPythonHome=${HOME}/virtualmachines/virtualenvs/py_3-6-8_2019-06-26/lib/python3.6/site-packages/
export AI_CFG=/aimldl-cfg
export AI_WSGIPythonPath=${HOME}/virtualmachines/virtualenvs/py_3-6-8_2019-06-26/bin
export AI_SCRIPTS=/codehub/scripts
export AI_APP=/codehub/apps
export AI_LOGS=/aimldl-dat/logs
export AI_KBANK=/aimldl-kbank
export AI_PY_VENV_PATH=${HOME}/virtualmachines/virtualenvs
export AI_ANNON_DATA_HOME=/data/samba/Bangalore/prod/Bangalore_Maze_Exported_Data/ANNOTATIONS
export PYTHONPATH=${PYTHONPATH}:${CAFFE_ROOT}/python
export AI_ENVVARS=AI_PY_ENVVARS:AI_CONFIG:AI_DATA:AI_WEB_APP_UPLOADS:AI_LANENET_ROOT:FASTER_RCNN:AI_ANNON_HOME:MASK_RCNN:AI_VM_HOME:AI_DOC:AI_ANNON_DATA_HOME_LOCAL:AI_WEB_APP:AI_ANNON_DB:AI_MODEL_CFG_PATH:CAFFE_ROOT:APACHE_HOME:WORKON_HOME:AI_HOME_EXT:AI_WEIGHTS_PATH:AI_WEB_APP_LOGS:AI_REPORTS:AI_HOME:AI_GOOGLE_APPLICATION_CREDENTIALS:AI_MNT:AI_WSGIPythonHome:AI_CFG:AI_WSGIPythonPath:AI_SCRIPTS:AI_APP:AI_LOGS:AI_KBANK:AI_PY_VENV_PATH:AI_ANNON_DATA_HOME
