ALLOWED_FILE_TYPE:
- .txt
- .csv
- .yml
- .json
ALLOWED_IMAGE_TYPE:
- .pdf
- .png
- .jpg
- .jpeg
- .tiff
- .gif
ALLOWED_VIDEO_TYPE:
- .mp4
API_DEFAULT_MODEL_KEY: vidteq-rld-1
API_DOC:
  API_VERSION: v2
  API_VISION_BASE_URL: /api/vision
  ARCHS: &id001
  - mask_rcnn
  DOCS:
    batch_predict:
      deprecated: false
      description: 'Under Development: Uses queue mechanism for prediction on the
        images. Input is the array of multipart/form-data images'
      params:
        images: array(<multipart/form-data>)
        q: <orgname>-<id>-<rel_num>
      type: POST
      url: <API_VISION_BASE_URL>/<API_VERSION>/predict
    models:
      deprecated: false
      description: Returns the original image
      examples:
        '0': <API_VISION_BASE_URL>/<API_VERSION>/models
        '1': <API_VISION_BASE_URL>/<API_VERSION>/models/vidteq
        '2': <API_VISION_BASE_URL>/<API_VERSION>/models/vidteq-hmd
        '3': <API_VISION_BASE_URL>/<API_VERSION>/models/vidteq-hmd-1
      params: null
      type: GET
      url: <API_VISION_BASE_URL>/<API_VERSION>/models/[ [<orgname>][-<id>][-<rel_num>]
        ]
    predict:
      deprecated: false
      description: The main api call to make the predictions.
      examples:
        '0': curl -X POST -F image=@${image} "${apiurl}"
      params:
        image: <multipart/form-data; >
        q: <orgname>-<id>-<rel_num>
      type: POST
      url: <API_VISION_BASE_URL>/<API_VERSION>/predict
    tdd:
      deprecated: false
      description: Used for test driven development and internal api testing.
      params: null
      type: POST
      url: <API_VISION_BASE_URL>/<API_VERSION>/tdd
  IDS: &id002
    bsg: ballon_segmentation
    cocop: coco_panoptic
    cocos: coco_stuff
    cocot: coco_things
    hmd: hd_map_dataset
    od: object_detection
    ods: object_detection_segmentation
    pd: people_detection
    road: road_segmentation
    spd: sign_post_detection
    spr: sign_post_recognition
    tsd: traffic_sign_detection
    tsr: traffic_sign_recognition
  ORGNAME: &id003
  - matterport
  - vidteq
  - mmi
API_MODELINFO_TABEL: MODELINFO
API_VERSION: v2
API_VISION_BASE_URL: /api/vision
API_VISION_URL: /api/vision/v2
APP_NAME: falcon
ARCH: arch
ARCHS: *id001
CMD:
- train
- predict
- evaluate
DATASET: dataset
DBCFG:
  ANNONCFG:
    annon_type: hmd
    class_ids: null
    data_read_threshold: -1
    dataclass: AnnonDataset
    dbname: annon_v5
    host: localhost
    name: hmd
    password: ''
    port: 27017
    return_hmd: null
    username: ''
  CBIRCFG:
    dbname: eka
    host: localhost
    password: ''
    port: 27017
    username: ''
  OASISCFG:
    annon_type: hmd
    class_ids: null
    data_read_threshold: -1
    dataclass: AnnonDataset
    dbname: oasis
    host: localhost
    name: hmd
    password: ''
    port: 27017
    return_hmd: null
    username: ''
  PXLCFG:
    annon_type: hmd
    class_ids: null
    data_read_threshold: -1
    dataclass: AnnonDataset
    dbname: PXL
    host: localhost
    name: hmd
    password: ''
    port: 27017
    return_hmd: null
    username: ''
  REDISCFG:
    batch_size: 1
    client_max_tries: 100
    client_sleep: 0.25
    db: 0
    host: localhost
    image_dtype: float32
    image_queue: image_queue
    port: 6379
    server_sleep: 0.25
DEBUG: false
DEVICE: /gpu:0
DOCS: ''
FILE_DELIMITER: ;
GPU_ID: 0
HOST:
- 10.4.71.69:4040
IDS: *id002
LOG_TIMESTAMP: false
MODE: gpu
ORGNAME: *id003
ROUTER: falcon
SAVE_NULL_RESULTS: false
TABLES:
  AIDS:
  - null
  MODELINFO:
  - null
  'RELEASE ':
  - null
TEST_MODE: inference
TRAIN_MODE: training
VIS_DETECTIONS: false
WARMUP: false
