#!/bin/bash
export AI_DATA=/aimldl-dat
export AI_WEB_APP_UPLOADS=/aimldl-cod/www/uploads
export VM_HOME=${HOME}/virtualmachines
export LOG_DIR=/aimldl-dat/logs
export AI_ANNON_HOME=/aimldl-cod/apps/annon
export GOOGLE_APPLICATION_CREDENTIALS="/aimldl-cod/auth/"
export AI_DOC=/aimldl-doc
export FRCN_ROOT=/aimldl-cod/external/py-faster-rcnn
export AI_WEB_APP=/aimldl-cod/www
export WEIGHTS_PATH=/aimldl-dat/release
export AI_ANNON_DB=/aimldl-dat/data-gaze/AIML_Database
export PY_VENV_PATH=${HOME}/virtualmachines/virtualenvs
export CAFFE_ROOT=/aimldl-cod/external/py-faster-rcnn/caffe-fast-rcnn
export APACHE_HOME=${HOME}/public_html
export AI_HOME_EXT=/aimldl-cod/external
export AI_WEB_APP_LOGS=/aimldl-cod/www/logs
export AI_REPORTS=/aimldl-rpt
export AI_HOME=/aimldl-cod
export AI_MODEL_PATH=/aimldl-dat/release
export AI_MNT=/aimldl-mnt
export MRCNN_ROOT=/aimldl-cod/external/Mask_RCNN
export AI_CFG=/aimldl-cfg
export AI_SCRIPTS=/aimldl-cod/scripts
export AI_APP=/aimldl-cod/apps
export AI_LOGS=/aimldl-dat/logs
export AI_KBANK=/aimldl-kbank
export AI_ANNON_DATA_HOME=${HOME}/Documents/ai-ml-dl-gaze/AIML_Annotation/ods_merged_on_050719
export PYTHONPATH=${PYTHONPATH}:${CAFFE_ROOT}/python
