# Reference: https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
# Blacklist files/folders in same directory as the .gitignore file
/*


## Whitelist some files
!.gitignore
!.gitmodules
!*.md
!*.html
!*.yml
!*.sh
!*.txt
!*.py
!*.example
!LICENSE

# !android/
!apps/
!auth/
!cfg/
# !data/
# !downloads/
# !logs/
# !external/
# !external4docker/
!practice/
!readme/
!samples/
!scripts/
!_site/
!tests/
!external-src/
# !tmp/
# !tools/
# !workspaces/

**/*bk
**/node_modules
**/*.pyc
**/*__pycache__
**/*.swp
**/*.local.*
**/temp.*
**/README.html
**/*.ipynb_checkpoints
**/*.py.*
