[Unit]
Description=Gunicorn Daemon
After=network.target docker.service

[Service]
User=venom
Group=venom
WorkingDirectory=/aimldl-cod/apps/www/od/wsgi-bin
Environment="PATH=/home/venom/virtualmachines/virtualenvs/py_3-6-9_2019-11-29/bin"
ExecStart=/home/venom/virtualmachines/virtualenvs/py_3-6-9_2019-11-29/bin/gunicorn web_server:app -b 0.0.0.0:4100

[Install]
WantedBy=multi-user.target
